aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
attrs==24.2.0
beautifulsoup4==4.12.3
dnspython==2.7.0
frozenlist==1.5.0
idna==3.10
multidict==6.1.0
numpy==2.1.3
pandas==2.2.3
propcache==0.2.0
pymongo==4.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
six==1.16.0
soupsieve==2.6
tzdata==2024.2
yarl==1.17.1
fastapi
jinja2
uvicorn
scikit-learn
nltk
